* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: weight-regular;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}
