* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: weight-regular;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
  padding-left: 0;
}
