// 검색 및 필터
.location {
  position: relative;
  padding-top: 12em;
  margin-right: 60rem;
  &__select {
  }

  &__change {
  }
}

.filter__menu {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    padding: 0.1rem;
    border: 1px solid $color-white;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
  }
}

// 헤어샵 목록
.shop__info {
  &__detail {
  }

  &__detail-1 {
  }

  &__distance {
  }

  &__detail-2 {
  }

  &__desc {
  }
}
