// Colors
$color-dgrey: #777;
$color-lgrey-1: #f7f7f7;
$color-white: #fff;

$color-dgrey-1: #2f3640;
$color-dgrey-2: #1e272e;

$color-white: #fff;
$color-black: #000;

// Font-Size
$font-micro: 1.4rem;
$font-small: 1.6rem;
$font-regular: 1.8rem;
$font-medium: 2.8rem;
$font-large: 4.8rem;

// Font-Weight
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-regular: 400;
