#locations {
  padding: 9rem 1rem 4rem 1rem;
  background-color: #fff;
  margin-bottom: -5rem;
  position: fixed;
  width: 100%;
  z-index: 20;
  border-bottom: 1px solid #000;
}

.location {
  &__select {
    font-size: 2rem;
  }

  &__change {
    margin-left: 50rem;
  }
}

.filter__menu {
  margin-top: 2rem;

  &__item {
    margin-right: 1rem;
  }
}
