#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(209, 208, 208);
  align-items: center;
  color: color-black;
  position: fixed;
  width: 100%;
  z-index: 30;
}

.navbar__menu {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;

  &__item {
    padding: 1rem;
    margin: 1rem;
    &.active {
      border: 1px solid #000;
      border-radius: 10px;
    }
  }
}

.navbar__logo {
  font-size: 2.5rem;
  font-weight: weight-semi-bold;
  cursor: pointer;

  &__image {
    width: 2rem;
  }
}
