#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(209, 208, 208);
  align-items: center;
  color: color-black;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.navbar__menu {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;

  &__item {
    padding: 0.5rem 1.2rem;
    margin: 0 2rem;
  }
}

.navbar__logo {
  font-size: 3.5rem;
  font-weight: weight-semi-bold;
  cursor: pointer;

  &__image {
    width: 3rem;
  }
}
